accelerate
audiomentations
datasets
evaluate
ipywidgets
jiwer
librosa
numpy
onnxruntime
optimum
pandas
python-dotenv
scipy
soundfile
streamlit
sympy
tensorboardx
torch
torchaudio
torchcodec
torchvision
transformers==4.48.0
uv

